@import "banner.css";
@import "section-1.css";
@import "section-2.css";
@import "section-3.css";
@import "section-4.css";


/* ========= FONTE ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}
